* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

h1 {
    margin: 0;
}

h2 {
    color: #000;
}

nav {
    margin: 20px 0;
    position: relative;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    transition: max-height 0.3s ease;
    overflow: visible;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #007BFF;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: 0 auto;
    align-items: center;
    color: white;
    font-size: 30px;
    /* Adjust size as needed */
}

.bar {
    height: 3px;
    width: 30px;
    background-color: #fff;
    margin: 3px 0;
}

/* Main content */
main {
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #007BFF;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

#socials ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#socials li {
    margin: 0 10px;
}

#socials a {
    font-size: 24px;
    color: #000;
}

#socials a:hover {
    color: #007BFF;
}

/* Mobile Navigation (initially hidden) */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        max-height: 0;
        /* Hide initially */
        width: 100%;
        /* Full width */
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        background-color: #000;
    }

    nav.active ul {
        max-height: 300px;
        /* Show the menu when active */
    }

    .hamburger {
        display: block;
        /* Show hamburger on small screens */
        justify-content: center;
        margin: 10px auto;
    }

    nav ul.active {
        display: flex;
        flex-direction: column;
    }
}